<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.local.promtail</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/opt/promtail/bin/promtail</string>
      <string>-config.file=/Users/anishskumar/Anish-DevOps-Lab/observability/promtail/promtail-config.yml</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/opt/homebrew/var/log/promtail.log</string>
    <key>StandardErrorPath</key>
    <string>/opt/homebrew/var/log/promtail.err.log</string>
  </dict>
</plist>
