<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>observability.prom_config_checksum</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/anishskumar/Projects/Active/devops-observability-lab/observability/exporters/observability_prom_config_checksum.py</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/prom_config_checksum.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/prom_config_checksum.err</string>
  </dict>
</plist>
