<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>observability.tshark_metrics</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/python3</string>
      <string>/Users/anishskumar/Projects/Active/devops-observability-lab/observability/exporters/observability_tshark_metrics.py</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>TS_IFACE</key>
      <string>en0</string>
      <key>TS_DURATION</key>
      <string>5</string>
      <key>TS_TOP_N</key>
      <string>5</string>
    </dict>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/opt/homebrew/var/log/tshark_metrics.log</string>
    <key>StandardErrorPath</key>
    <string>/opt/homebrew/var/log/tshark_metrics.err.log</string>
  </dict>
</plist>
