<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>observability.wdutil_metrics</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/anishskumar/Anish-DevOps-Lab/observability/exporters/wdutil_metrics.py</string>
    </array>
    <key>StartInterval</key>
    <integer>30</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/wdutil_metrics.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/wdutil_metrics.err</string>
  </dict>
</plist>
